<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_002_ComponentesGraficos.Properties.Settings.POO2020_3_6AMConnectionString"
            connectionString="Data Source=DESKTOP-C7737U7\SQLEXPRESS;Initial Catalog=POO2020_3_6AM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>